<!-- blog/templates/blog/about.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - Página Principal</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="container">
        <h1>Sobre mí</h1>
        <p>
            Hola, soy Luna, y este es mi espacio donde quiero compartir mi experiencia en el curso de Python, lo que me llevó a crear este blog y como fue mi experiencia en el curso.
        </p>
        <p>
            Desde un inicio me sentí bienvenida y con un excelente acompañamientro propiciado tanto por el profesor como por el tutor. A pesar de que al principio me hallé un poco perdida, poco a poco fui entendiendo y pudiendo acoplarme a la dinámica de las prácticas y el estudio que requería para el completo entendimiento que se precisaba. 
        <p>
            A través de este blog, quiero ofrecer un espacio de reflexión y aprendizaje para todos aquellos que inicien en el mundo de la programación y quieran compartir sus experiencias o dudas.
        </p>

        <div class="quote">
            <p>
                "El conocimiento es poder al alcance de quien lo busque, y la programación es una herramienta que nos permite crear y transformar el mundo que nos rodea."
            </p>
        </div>
    </div>
{% endblock %}

</body>
</html>
