{% extends 'base.html' %}

{% block content %}
    <h1>Usuarios Administrativos</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre de usuario</th>
                <th>Email</th>
                <th>Superusuario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.is_superuser }}</td>
                    <td>
                        {% if not user.is_superuser %} <!-- No permitir eliminar superusuarios -->
                        <form method="post" action="{% url 'admin_users' %}" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{ user.id }}">
                            <button type="submit" style="background-color: red;">Eliminar</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
