<!-- blog/templates/blog/index.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Bienvenido al Blog de Luna</h1>
<!-- Mostrar formulario de publicación solo si el usuario está autenticado -->
{% if user.is_authenticated %}
<h2>Publicar un nuevo hilo</h2>
<form method="POST" action="{% url 'create_post' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <label for="title">Título:</label>
  <input type="text" name="title" required><br><br>

  <label for="content">Contenido:</label>
  <textarea class="input-cont" name="content" required></textarea><br><br>

  <label for="image">Imagen (opcional):</label>
  <input class="input-img" type="file" name="image" accept="image/*"><br><br>

  <button type="submit">Publicar</button>
</form>
{% else %}
<p><a href="{% url 'login' %}">Inicia sesión</a> para publicar un hilo.</p>
{% endif %}


<h2>Posts recientes</h2>
<ul>
  {% for post in posts %}
  <li>
    <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a> - {{ post.created_at }} - Creado por {{ post.author.username }}
  </li>
  {% empty %}
  <p>No se han realizado publicaciones aún.</p>
  {% endfor %}
</ul>
{% endblock %}